@page
@model WebApplication.Pages.Facturacion.Compra.IndexModel
@{
    var hoy = DateTime.Now;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Facturacion/Compra/Compras">Compras</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva Compra</li>
    </ol>
</nav>

<form class="needs-validation" novalidate id="frm-detalle">
    <h3 class="text-left text-info">Datos del producto</h3>
    <div class="border-top my-3"></div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Producto</label>
                <div class="input-group mb-3">
                    <input data-detalle-name="IdProducto" type="text" class="form-control" hidden readonly>
                    <input data-detalle-name="NombreProducto" type="text" class="form-control" readonly required>
                    <div class="input-group-append" style="cursor:pointer">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="invalid-feedback">
                        El campo Producto es requerido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Marca</label>
                <select data-detalle-name="IdMarca" class="form-control" required></select>
                <div class="invalid-feedback">
                    El campo Marca es requerido
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Talla</label>
                <select data-detalle-name="IdTalla" class="form-control" required></select>
                <div class="invalid-feedback">
                    El campo Talla es requerido
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Color</label>
                <select data-detalle-name="IdColor" class="form-control" required></select>
                <div class="invalid-feedback">
                    El campo Color es requerido
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Cantidad</label>
                <input data-detalle-name="Cantidad" class="form-control" required data-val-masktype="integer" />
                <div class="invalid-feedback">
                    El campo Cantidad es requerido
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Precio Unitario</label>
                <input data-detalle-name="PrecioUnitario" class="form-control" required data-val-masktype="decimal" />
                <div class="invalid-feedback">
                    El campo Precio Unitario es requerido
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Precio Compra</label>
                <input data-detalle-name="PrecioCompra" class="form-control" required data-val-masktype="decimal" />
                <div class="invalid-feedback">
                    El campo Precio Compra es requerido
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Precio Venta</label>
                <input data-detalle-name="PrecioVenta" class="form-control" required data-val-masktype="decimal" />
                <div class="invalid-feedback">
                    El campo Precio Venta es requerido
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">Agregar</button>
    </div>
</form>

<form class="needs-validation" novalidate id="frm-compra">
    <h3 class="text-left text-info">Datos Compra</h3>
    <div class="border-top my-3"></div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Nº Factura</label>
                <input class="form-control" placeholder="0000" data-name="NoFactura" required readonly />
                <div class="invalid-feedback">
                    El campo Factura es requerido
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" placeholder="dd/mm/aaaa" data-name="FechaCompra" required asp-for="Hoy" />
                <div class="invalid-feedback">
                    El campo Fecha es requerido
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Proveedor</label>
                <select class="form-control" placeholder="0000" data-name="IdProveedor" required></select>
                <div class="invalid-feedback">
                    El campo Proveedor es requerido
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Sub total</label>
                <input class="form-control" placeholder="0.0" data-name="SubTotal" required readonly />
                <div class="invalid-feedback">
                    El campo SubTotal es requerido
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Descuento</label>
                <input class="form-control" placeholder="0.0" data-name="Descuento" required data-val-masktype="integer" asp-for="Descuento" />
                <div class="invalid-feedback">
                    El campo Descuento es requerido
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Iva</label>
                <input class="form-control" placeholder="0" data-name="Iva" required data-val-masktype="integer" asp-for="Iva" />
                <div class="invalid-feedback">
                    El campo Iva es requerido
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Almacen</label>
                <select class="form-control" placeholder="0.0" data-name="IdAlmacen" required></select>
                <div class="invalid-feedback">
                    El campo Almacen es requerido
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Total</label>
                <input class="form-control" placeholder="0.0" data-name="Total" required readonly />
                <div class="invalid-feedback">
                    El campo Total es requerido
                </div>
            </div>
        </div>

    </div>

   

    <div class="text-right">
        <button class="btn btn-primary" type="submit">Comprar</button>
    </div>

</form>
<form>
    <h3 class="text-left text-info">Detalle de compra</h3>
    <div class="border-top my-3"></div>
    <table class="table table-striped">
        <thead>
            <tr><th>Producto</th><th>Marca</th><th>Talla</th><th>Color</th><th>Cantidad</th><th>Precio Compra</th><th>Precio Venta</th><th>SubTotal</th><th>Acciones</th></tr>
        </thead>
        <tbody id="body"></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th id="tCantidad">0.00</th>
                <th id="tPCompra">0.00</th>
                <th id="tPVenta">0.00</th>
                <th id="tSubTotal">0.00</th>
            </tr>
        </tfoot>
    </table>
    @*<div class="text-right">
            <button class="btn btn-primary" type="submit">Comprar</button>
        </div>*@
</form>

<div class="modal fade" id="productos-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Busqueda</label>
                        <input class="form-control" placeholder="Ingrese el filtro" id="filtro" />
                    </div>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_productos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
   


    
@section Scripts{
    <script src="~/js/pages/compra.js"></script>
}




