<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="~/img/camisa.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="menu-collapsed">PS</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item active"><a class="nav-link" href="#">@User.Identity.Name <span class="sr-only"></span></a></li>
                <li class="nav-item active">
                    <a class="nav-link" asp-page="Index">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Logout">Logout </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Register">Registrarse </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Login">Login </a>
                </li>
            }
        </ul>
    </div>
</nav>